{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div>
        <h2>{{ task.title }}</h2>
        <p><strong>Описание:</strong> {{ task.description }}</p>

        <p><strong>Статус:</strong>
            {% if task.complete %}
                <span style="color: green;">Выполнено</span>
            {% else %}
                <span style="color: red;">В процессе</span>
            {% endif %}
        </p>
    </div>

    <hr>
    <a href="{% url 'edit_task' task.id %}">Редактировать</a> |
    <a href="{% url 'index' %}">Назад к списку</a>
{% endblock %}